body {
    font-family: "Montserrat", serif;
    background-color: rgb(215, 236, 243);
    line-height: 1.4;
}

main {
    padding-bottom: 100px;
}

.skip a {
    background-color: white;
    left: 0;
    padding: 7px;
    position: absolute;
    top: -50px;
    color:  rgb(75, 114, 128);
}

.skip a:focus {
    position: relative;
    top: 0px;
}

.skip a:visited {
    color:rgb(75, 114, 128)
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(75, 114, 128);
    border-bottom: solid white 4px;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 30px;
    padding: 10px;
}

.nav_links {
    display:flex;
}

li {
    border: 2px solid white;
    padding: 10px;
}

a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover {
    text-decoration: underline;
}

.current {
    text-transform: uppercase; 
    text-decoration: underline;
    font-weight: bolder;
}

.main {
    padding-top: 20px;
}

.title {
    animation-name: growth;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes growth {
    from {
        width: 100px;
        opacity: 0;
    }
    to {
        width: 500px;
        opacity: 1;
    }
}

.parallax {
    background-image: url(../images/edited.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.title, .facts, .contact_us, .caption {
    border: 3px solid white;
    padding: 10px;
}

.facts {
    padding-top: 20px;
    margin-top: 20px;
}

.title h1, .contact_us h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700px;
}

* {
    box-sizing:border-box
}

/* Slideshow */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  border: solid 3px white;
}

.myslides > img {
    width: 100%;
}

.myslides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(75, 114, 128);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: white;
    background-color: rgba(75, 114, 128,0.8);
}

.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color:rgb(75, 114, 128);
}

.numbertext {
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color:rgb(75, 114, 128);
}

.dots {
    text-align:center
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(75, 114, 128);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer {
    background-color:rgb(75, 114, 128);
    border-top: 4px solid white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    border: 2px solid white;
    padding: 10px;
}
  
legend { 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700px;
}
  
label{
    display: inline-block;
    padding-top: 15px;
}

input {
    width: 100%;
    display: inline-block;
    border: 3px solid rgb(75, 114, 128);
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 8px 0;
}

textarea{
    width: 100%;
    display: inline-block;
    border: 3px solid rgb(75, 114, 128);
    box-sizing: border-box;
    height: 100px;
    padding: 10px 20px;
    margin: 8px 0;
}
  
input[type=submit] {
    background-color: rgb(75, 114, 128);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    width: 100%;
    font-size: 18px;
}
  
input[type=submit]:hover {
    background-color: white;
    color:rgb(75, 114, 128);
}


/* philanthropy.html */
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color:  rgb(75, 114, 128);
    text-align: center;
}

.container h2 {
    background-color: white;
}

.walk a {
    color: rgb(75, 114, 128);
    font-weight: bolder;
    font-size: 17px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
    padding: 10px;
    margin: 10px; 
}

.walk, .environment, .gerontology {
    border: 10px solid rgb(75, 114, 128);
}

.container p {
    margin: 15px;
}

  /* whySK.html */
.container_why {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
    padding: 10px;
    margin: 10px;
}

.container_why h2 {
    font-size: 18px;
    padding: 12px;
    text-align: center;
    text-decoration: underline;
    color: black;
}

.container_why div {
    border: 15px solid white;
}

.container_why p {
    margin: 15px;
}

/* photos.html */
.photos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 75%;
}

.photos img {
    width: 100%;
    border: solid white 8px;
}

/* Video */
.video-player {
    width: 16rem;
    height: 26rem;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    border: solid white 8px;
  }

video {
    width: 100%;
    height: 100%;
    background: white;
}

.video-player label {
    color: white;
    font-size: 10px;
}
  
.controls {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgb(119, 118, 118));
    align-items: center;
    transition: opacity .2s;
  }
  
  .video-player.playing .controls {
    opacity: 0;
  }
  
  .video-player:hover .controls {
    opacity: 1;
  }
  
  .control-button {
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: .8;
    transition: all .2s;
  }
  
  .control-button:hover {
    opacity: 1;
  }
  
  .control-button.play-button {
    height: 40px;
    width: 40px;
  }
  
  .control-button.sound-button {
    height: 40px;
    width: 40px;
  }
  
  .control-button.fullscreen-button {
    height: 35px;
    width: 35px;
  }
  
  .control-button svg {
    stroke: #fff;
    fill: transparent;
  }
  
  .timeline {
    -webkit-appearance: none;
    width: calc(100% - 125px);
    height: .5em;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
  }
  
  .timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: rgba(255, 255, 255, .8);
  }

.caption {
    width: 90%;
    margin: 0 auto;
}



/* //////////////////////////////////// tablet view ///////////////////////////////////////////// */
@media screen and (min-width: 770px) {
    /* navigation */
    nav li a {
        padding: 40px;
    }
    
    .nav a {
        padding: 10px 15px;
    }

    /* index.html */
    .title {
        width: 80%;
        margin: 0 auto;
        border: 8px solid white;
        text-decoration: bold;
        text-align: center;
        animation-duration: 1.5s;
        margin-bottom: 20px;
    }
    
    @keyframes growth {
        from {
            width: 500px;
            opacity: 0;
        }
        to {
            width: 750px;
            opacity: 1;
        }
    }

    .facts, .contact_us, .contact, .caption {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        border: 8px solid white;
        text-decoration: bold;
        text-align: center;
    }

    /* philonthropy.html */
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .walk h2, .walk img, .walk p {
        grid-column: 1 / span 1;
    }

    .environment h2, .environment img, .environment p {
        grid-column: 2 / span 1;
    }

    .gerontology h2, .gerontology img, .environment p {
        grid-column: 3 / span 1;
    }

    /* whysk.html */
    .container_why {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content:center;
    }

    .one, .two, .three, .four, .five {
        flex-basis: 345px;
    }

    /* photos.html */
    .photos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #pone, #ptwo, #pthree {
        grid-row: 1 / 2;
    }

    #pfour, #pfive, #psix {
        grid-row: 2 / 3;
    }

    #pseven, #peight, #pnine {
        grid-row: 3 / 4;
    }

    #pone, #pfour, #pseven {
        grid-column: 1 / 2;
    }

    #ptwo, #pfive, #peight {
        grid-column: 2 / 3;
    }

    #pthree, #psix, #pnine {
        grid-column: 3 / 4;
    }

    .video-player {
        width: 35rem;
        height: 25rem;
    }

    .caption {
        width: 35rem;
    }
}



/* //////////////////////////////////// desktop view ///////////////////////////////////////////// */
@media screen and (min-width: 1024px) {
    header {
		flex-direction: row;
        justify-content: space-between;
    }
    
    header h1 {
        position: absolute;
        left: 0;
    }

    @keyframes growth {
        from {
            width: 500px;
            opacity: 0;
        }
        to {
            width: 1025px;
            opacity: 1;
        }
    }

    .skip a:focus {
        position: absolute;
    }

    /* index.html */

    /* philanthropy.html */
    .flip-card {
        perspective: 1000px; 
    }
      
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
      
    .flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner {
        transform: rotateY(180deg);
    }
      
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
      
    .flip-card-front {
        color: black;
    }
      
    .flip-card-back {
        color: black;
        transform: rotateY(180deg);
    }
      
    .flip-card-back h1, .flip-card-back p{
        font-size: 18px;
        text-align: left;
        padding-left: 10px;
    }

    /* why.html */

    /* photos.html */
    .photos {
        grid-template-columns: repeat(8, 1fr);
    }

    #pone, #pfour, #pseven {
        grid-column: 2 / 4;
    }

    #ptwo, #pfive, #peight {
        grid-column: 4 / 6;
    }

    #pthree, #psix, #pnine {
        grid-column: 6 / 8;
    }
}



/* //////////////////////////////////// reduced motion ///////////////////////////////////////////// */
@media screen and (prefers-reduced-motion: reduce){
    /* animation */
    .title {
        animation: none;
    }

    /* flip-card */
    .flip-card:hover .flip-card-inner {
        transition: none;
    }

    .flip-card-inner {
        transition: none;
    }

    .flip-card {
        transform: none;
    }

    /* parallax image */
    .parallax {
        background-attachment: initial;
    }

    .dot {
        transition: none;
    }

    .fade {
        animation: none;
    }

}