body {
    font-family: "Montserrat", serif;
    background-color: rgb(215, 236, 243);
}

.skip a {
    background-color: white;
    left: 0;
    padding: 7px;
    position: absolute;
    top: -50px;
    color:  rgb(75, 114, 128);
}

.skip a:focus {
    position: relative;
    top: 0px;
    left:0px;
}

.skip a:visited {
    color:rgb(75, 114, 128)
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(75, 114, 128);
    border-bottom: solid white 4px;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 30px;
    padding: 10px;
}

.nav_links {
    display:flex;
    flex-direction: row;
}

li {
    border: 2px solid white;
    padding: 10px;
}

a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover {
    text-decoration: underline;
}

.current {
    text-transform: uppercase; 
    text-decoration: underline;
    font-weight: bolder;
}

.title, .facts, .contact_us {
    border: 3px solid white;
    padding: 10px;
}

.title h1, .contact_us h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight:bold;
}

.skouse {
    display:block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border: 10px solid white;
}

footer {
    background-color:rgb(75, 114, 128);
    border-top: 4px solid white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    color: white;
}

form {
    border: 2px solid white;
    padding: 10px;
}
  
legend{ 
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
label{
    display: inline-block;
    padding-top: 15px;
}

input {
    width: 100%;
    display: inline-block;
    border: 3px solid rgb(75, 114, 128);
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 8px 0;
}

textarea{
    width: 100%;
    display: inline-block;
    border: 3px solid rgb(75, 114, 128);
    box-sizing: border-box;
    height: 100px;
    padding: 10px 20px;
    margin: 8px 0;
}
  
input[type=submit] {
    background-color: rgb(75, 114, 128);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    width: 100%;
    font-size: 18px;
}
  
input[type=submit]:hover {
    background-color: white;
    color:rgb(75, 114, 128);
}


/* philanthropy.html */
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color:  rgb(75, 114, 128);
    text-align: center;
}

.container h2 {
    background-color: white;
}

.walk a {
    color: rgb(75, 114, 128);
    font-weight: bolder;
    font-size: 17px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
    padding: 10px;
    margin: 10px; 
}

.container div {
    border: 10px solid rgb(75, 114, 128);
}

.container p {
    margin: 15px;
}

  /* whySK.html */
.container_why {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
    padding: 10px;
    margin: 10px;
}

.container_why h2 {
    font-size: 18px;
    padding: 12px;
    text-align: center;
    text-decoration: underline;
    color: black;
}

.container_why div {
    border: 15px solid white;
}

.container_why p {
    margin: 15px;
}

/* photos.html */
.photos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 75%;
}

.photos img {
    width: 100%;
    border: solid white 8px;
}

/* //////////////////////////////////// tablet view ///////////////////////////////////////////// */
@media screen and (min-width: 770px) {
    /* navigation */
    nav li a {
        padding: 40px;
    }

    /* index.html */
    .title {
        width: 80%;
        margin: 0 auto;
        border: 8px solid white;
        text-decoration: bold;
        text-align: center;
    }

    .facts {
        text-align: center;
    }

    /* philonthropy.html */
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .walk h2, .walk img, .walk p {
        grid-column: 1 / span 1;
    }

    .environment h2, .environment img, .environment p {
        grid-column: 2 / span 1;
    }

    .gerontology h2, .gerontology img, .environment p {
        grid-column: 3 / span 1;
    }

    /* whysk.html */
    .container_why {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content:center;
    }

    .one, .two, .three, .four, .five {
        flex-basis: 345px;
    }

    /* photos.html */
    .photos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #pone, #ptwo, #pthree {
        grid-row: 1 / 2;
    }

    #pfour, #pfive, #psix {
        grid-row: 2 / 3;
    }

    #pseven, #peight, #pnine {
        grid-row: 3 / 4;
    }

    #pone, #pfour, #pseven {
        grid-column: 1 / 2;
    }

    #ptwo, #pfive, #peight {
        grid-column: 2 / 3;
    }

    #pthree, #psix, #pnine {
        grid-column: 3 / 4;
    }

}